- @page_title = t('shoppe.subscribers.subscribers')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.subscribers.new_subscriber'), :new_subscriber, class: 'button green'
  %h2.users= t('shoppe.subscribers.subscribers')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.subscribers.email')
        %th= t('shoppe.subscribers.contact_no')
    %tbody
      - if @subscribers.empty?
        %tr.empty
          %td{:colspan => 2}= t('shoppe.subscribers.no_subscribers')
      - else
        - for subscriber in @subscribers
          %tr
            %td=link_to subscriber.email, [:edit, subscriber]
            %td= subscriber.contact_no
= paginate @subscribers
:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }