= form_for @blog do |f|
  = f.error_messages

  = field_set_tag t('shoppe.blogs.blog_detail') do
    .splitContainer
      %dl.third
        %dt= f.label :title, t('shoppe.blogs.title')
        %dd= f.text_field :title, class: 'text focus'
      %dl.third
        %dt= f.label :permalink, t('shoppe.blogs.permalink')
        %dd= f.text_field :permalink, class: 'text focus'
      %dl.third
        %dt= f.label :position, t('shoppe.blogs.position')
        %dd= f.text_field :position, class: 'text focus'
    .splitContainer-ck
      %dl
        %dt= f.label :description, t('shoppe.blogs.description')
        %dd= f.text_area :description, class: 'ckeditor'

  = field_set_tag t('shoppe.products.attachments') do
    .splitContainer
      %dl.half
        %dt= f.label "attachments[default_image][file]", t('shoppe.products.default_image')
        %dd
          = attachment_preview @blog.default_image
          %p= f.file_field "attachments[default_image][file]"
          = f.hidden_field "attachments[default_image][role]", value: "default_image"
          = f.hidden_field "attachments[default_image][parent_id]", value: @blog.id

  %p.submit
    - unless @blog.new_record?
      %span.right
        = link_to t('shoppe.sizes.delete'),
                  @blog,
                  class: 'button purple',
                  method: :delete,
                  data: {confirm: t('shoppe.blogs.delete_confirmation')}
    = f.submit t('shoppe.sizes.save'),
               class: 'button green',
               data: {disable_with: (@blog.new_record? ? t('shoppe.blogs.creating_size') : t('shoppe.blogs.updating_size'))}
    = link_to t('shoppe.blogs.cancel'), :blogs, class: 'button'