.table
  %table.data
    %thead
      %tr
        %th= @career.email
        %th= ''
    %tbody
      %tr
        %td= t('shoppe.careers.first_name')
        %td= @career.first_name
      %tr
        %td= t('shoppe.careers.last_name')
        %td= @career.last_name
      %tr
        %td= t('shoppe.careers.nic')
        %td= @career.cnic_no
      %tr
        %td= t('shoppe.careers.contact_no')
        %td= @career.contact_no
      %tr
        %td= t('shoppe.careers.date_of_birth')
        %td= @career.date_of_birth
      %tr
        %td= t('shoppe.careers.gender')
        %td= @career.gender
      %tr
        %td= t('shoppe.careers.martial_status')
        %td= @career.martial_status
      %tr
        %td= t('shoppe.careers.mailing_address')
        %td= @career.mailing_address
      %tr
        %td= t('shoppe.careers.city')
        %td= @career.city
      %tr
        %td= t('shoppe.careers.highest_degree')
        %td= @career.highest_degree
      %tr
        %td= t('shoppe.careers.institute')
        %td= @career.institute
      %tr
        %td= t('shoppe.careers.year_of_completion')
        %td= @career.year_of_completion
      %tr
        %td= t('shoppe.careers.gpa')
        %td= @career.gpa
      %tr
        %td= t('shoppe.careers.certification')
        %td= @career.certification
      %tr
        %td= t('shoppe.careers.relevant_experice')
        %td= @career.relevant_experice
      %tr
        %td= t('shoppe.careers.designation')
        %td= @career.designation
      %tr
        %td= t('shoppe.careers.organization')
        %td= @career.organization
      %tr
        %td= t('shoppe.careers.address')
        %td= @career.address
