<br><br><br>
<section class="content products">
  <div class="container">
     <article class="product-item product-single" style="     padding: 20px;">
        <div class="row">
           <br>
           <center>
              <h1>SIGN UP</h1>
           </center>
           <hr>
        </div>
     </article>
  </div>
  <div  class="container">
     <div class="col-md-12">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= f.fields_for :customer do |c| %>
         <div class="">
            <div class="col-md-12">
               <h3>Your Information</h3>
               <br>
            </div>
            <%= devise_error_messages! %>  
            <div class="col-md-6"> 
               <span class="checkout-bulit">First Name*</span>
               <%= c.text_field :first_name , :autofocus => true,:class=>"input-checkout", :placeholder=>"First Name", :required => true %>
            </div>
            <div class="col-md-6">  
               <span class="checkout-bulit">Last Name*</span>
               <%= c.text_field :last_name , :autofocus => true,:class=>"input-checkout", :placeholder=>"Last Name", :required => true %>
            </div>
            <div class="col-md-6"> 
               <span class="checkout-bulit">Email Address*</span>
               <%= f.text_field :email, :class=>"input-checkout", :placeholder=>"Email Address" , :required=>true %>
            </div>
            <div class="col-md-6">  
               <span class="checkout-bulit">Phone Number*</span>
               <%= c.text_field :phone , :autofocus => true,:class=>"input-checkout", :placeholder=>"Phone Number", :required => true %>
            </div>
            <div class="col-md-6"> 
               <span class="checkout-bulit">Password*</span>
               <%= f.password_field :password, autocomplete: "off", :class=>"input-checkout", :placeholder=>"Password" , :required=>true  %>
            </div>
            <div class="col-md-6"> 
               <span class="checkout-bulit">Password Confirmation*</span>
               <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"input-checkout", :placeholder=>"Password Confirmation" , :required=>true  %>
            </div>
              <div style="clear:both"></div>
              <hr>
              <div class="col-md-12">
                 <h3>Address</h3>
                 
                 <br>
              </div>
            <%= c.fields_for :addresses do |a| %>
              <div style="clear:both"></div>
              <hr>
                <div class="col-md-6">
                   <span class="checkout-bulit">Address Type </span>
                   <%= a.select :address_type, Shoppe::Address::TYPES,{},{ :class=>"input-checkout", :placeholder=>"Address Type" , :required=>true} %>
                </div>

                <div class="col-md-6">
                   <span class="checkout-bulit">Country </span>
                   <%= a.collection_select :country_id, Shoppe::Country.ordered, :id, :name,{},{ :include_blank => true, :class=>"input-checkout"} %>
                </div>
                <div class="col-md-6"> 
                   <span class="checkout-bulit">Address </span>
                   <%= a.text_area :address1, :class=>"input-checkout", :placeholder=>"Enter Address", :style=>"min-height: 80px;" %>
                </div>
                <br>
                <div class="col-md-6"> 
                   <span class="checkout-bulit">City/Town </span>
                   <%= a.text_field :city, :class=>"input-checkout", :placeholder=>"Enter & Select City" , :required=>true %>
                </div>
                <div style="clear:both"></div>

            <% end %>
            <div style="clear:both"></div>
            <hr />
            <div class="col-md-6"> 
              <%= f.submit 'Sign up', :class=>"btn btn-default btn-lg" %>
            </div>
         </div>
         <% end %>
      <% end %>
     </div>
  </div>
</section>
<br><br><br>