<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>Create Your Account</h1>
        </center>
        <hr>
      </div>
    </article>
  </div>
  <section class="container">
    <div class="col-md-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-parsley-validate" => true}) do |f| %>
    <%= f.fields_for :customer do |c| %>
    <%= devise_error_messages! %>
      <div >
        <div class="signin-half col-md-12 ">
          <div class="col-md-6"> 
            <span class="checkout-bulit">First Name*</span>
            <%= c.text_field :first_name , :autofocus => true,:class=>"input-checkout", :placeholder=>"First Name", :required => true %>
          </div>
          <div class="col-md-6">  
            <span class="checkout-bulit">Last Name*</span>
            <%= c.text_field :last_name,:class=>"input-checkout", :placeholder=>"Last Name", :required => true %>
          </div>
          <div style="clear:both"></div>
          <br>
          <div class="col-md-6"> 
            <span class="checkout-bulit">Email Address*</span>
            <%= f.email_field :email, :class=>"input-checkout", :placeholder=>"Email Address" , :required=>true %>
          </div>
          <div class="col-md-6">  
            <span class="checkout-bulit">Phone No*</span>
            <%= c.text_field :phone,:class=>"input-checkout", :placeholder=>"Phone Number", :pattern=>"^([0|\+[0-9]{1,5})?([1-9][0-9]{9})$" %>
          </div>
          <div style="clear:both"></div>
          <br>
          <div class="col-md-6">  
            <span class="checkout-bulit">Mobile No*</span>
            <%= c.text_field :mobile,:class=>"input-checkout", :placeholder=>"Mobile No", :required => true, :pattern=>"^([0|\+[0-9]{1,5})?([1-9][0-9]{9})$" %>
          </div>
          <div style="clear:both"></div>
          <br>
          <% index = 1 %>
          <%= c.fields_for :addresses do |a| %>
          <div class="">
          <% if index == 1 %>
            <div class="col-md-6">
              <h3>Your Current Location</h3>
              <%= a.hidden_field :address_type, :value => "current"%>
            </div>
            <br><br>

          <% else %>
            <div class="col-md-6">
              <h3>Your Permanent Location</h3>
              <%= a.hidden_field :address_type, :value => "permanent"%>
            </div>
            <br><br>
          <% end %>
          <% index = index+1 %>

            <div class="col-md-12"> 
              <span class="checkout-bulit">Address*</span>
              <%= a.text_field :address1, :class=>"input-checkout", :placeholder=>"Enter Address" , :required=>true %>
            </div>
            <div style="clear:both"></div>
            <br>
            <div class="col-md-4">
              <span class="checkout-bulit">Country*</span>
              <%= a.collection_select :country_id, Shoppe::Country.ordered, :id, :name,{},{ :include_blank => true, :class=>"input-checkout", :required=>true} %>
            </div>
            <div class="col-md-4">
              <span class="checkout-bulit">City*</span>
              
              <%= a.select :city, Shoppe::DynamicOption.array_for(Shoppe::Career::CITY).sort_by(&:downcase) ,{},{ :include_blank => true, :class=>"input-checkout", :required=>true} %>
            </div>
            <div class="col-md-4"> 
              <span class="checkout-bulit">Area Code*</span>
              <%= a.text_field :postcode, :class=>"input-checkout", :placeholder=>"Area Code" , :required=>true %>
            </div>
            <div style="clear:both"></div>
            <br>

          <% end %>
          <div style="clear:both"></div>
          <br>
          <div class="col-md-6">
            <h3>Secure Your Account</h3>
          </div>
          <br><br>
          <div class="col-md-6"> 
            <span class="checkout-bulit">Password*</span>
            <%= f.password_field :password, autocomplete: "off", :class=>"input-checkout", :placeholder=>"Password" , :required=>true, :id=>"new_password"  %>
          </div>
          <div class="col-md-6"> 
            <span class="checkout-bulit">Confirm Password*</span>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"input-checkout", :placeholder=>"Password Confirmation" , :required=>true, :'data-parsley-equalto'=>"#new_password"  %>
          </div>
          <div style="clear:both"></div>
          <br>
          <div class="col-md-6"> 
            <%= f.check_box :age_limit, :'data-parsley-required'=>"true" %>
            <span class="checkout-bulit">I agree to the terms of use and I am  13 or older.</span>
          </div>
            <div style="clear:both"></div>
            <br><br>
            <div class="col-md-6">
              <%= f.submit 'Register', :class=>"btn btn-default btn-lg" %>
            </div>
            <!-- <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#registor">Register</button> -->

        </div>
      </div>
       <% end %>
    <% end %>
    </div>
  </section>
</section>
<div style="clear:both:"></div>

<script type="text/javascript">
  // CompleteRegistration
  // Track when a registration form is completed (ex. complete subscription, sign up for a service)
  fbq('track', 'CompleteRegistration');
</script>
