- @page_title = t('shoppe.stores.stores')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.stores.new_store'), :new_store, class: 'button green'
    = link_to t('shoppe.stores.import_stores'), :import_stores, :class => 'button gray'
  %h2.users= t('shoppe.stores.stores')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.stores.store_no')
        %th= t('shoppe.stores.address')
        %th= t('shoppe.stores.city')
        %th= t('shoppe.stores.phone_number')
    %tbody
      - if @stores.empty?
        %tr.empty
          %td{:colspan => 4}= t('shoppe.stores.no_stores')
      - else
        - for store in @stores
          %tr
            %td=link_to store.store_no, [:edit, store]
            %td= store.address
            %td= store.city
            %td= store.phone_number
= paginate @stores

:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }