<!-- footer  -->

<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/footer-img.jpg">
   <footer  class="navbar  " >
            <div class="container">
               <div class="row botton-20">
                  <center>
                     <div class="footer-widget footer-widget-contacts">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                           <h4>SIGN UP FOR NEWSLETTER</h4>
                           <div class="">
                           <%= form_tag "/add_subscriber", :method => :post, :remote=>true do %>
                           <button type="submit" title="Subscribe" class="btn btn-default btn-lg  button-grnt"><span><span>Subscribe</span></span></button>
                           <%= text_field_tag :email, params[:email], :class=>"inputnews", :title=>"SIGN UP FOR EMAILS:", :placeholder=>"   Enter Your Email", :required=>true %>
                           <% end %>
                           </div>
                        </div>
                        <br>
                     </div>
                     <div class="col-md-6">
                        <div class="actions col-md-6">
                        </div>
                  </center>
                  </div>
                  <hr>
                  <div class="col-sm-3 col-xs-6  ">
                     <div class="footer-widget footer-widget-contacts">
                        <h4>SHOP</h4>
                        <ul class="list-unstyled" style="line-height: 29px;">
                           <li><a href="#"> Women's Shoes</a></li>
                           <li><a href="#"> Men's Shoes</a></li>
                           <li><a href="#"> Bags</a></li>
                           <li><a href="#"> Accessories</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>BRANDS</h4>
                        <ul class="list-unstyled">
                           <li><a href="#">Digger</a></li>
                           <li><a href="#">Skywalk</a></li>
                           <li><a href="#">Gig</a></li>
                           <li><a href="#">Matilla</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>ABOUT</h4>
                        <ul class="list-unstyled">
                           <li><a href="/about_us">The Company</a></li>
                           <li><a href="/store_location">Store Locator</a></li>
                           <li><a href="/contact_us">Contact</a></li>
                           <li><a href="/careers">Careers</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>GET IN TOUCH</h4>
                        <ul class="list-unstyled">
                           <li><a href="#"><i class="fa fa-phone"></i> +92 00078601</a></li>
                           <li><a href="#"><i class="fa fa-envelope"></i> hello@borjan.com</a></li>
                           <li><a href="#">FAQ</a></li>
                           <div style=" ">
                              <div style=" text-transform: uppercase;
                                 font-weight: bold;
                                 padding-bottom: 8px;;"> <span style=" font-size:20px;"> <i class="fa fa-facebook-square"></i>   <i class="fa fa-twitter"></i>   <i class="fa fa-pinterest-square"></i> <i class="fa fa-google-plus-square"></i> <i class="fa fa-envelope-o"></i>
                                 </span>
                              </div>
                           </div>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="footer-bottom">
                  <div class="container">
                     <hr>
                     <div class="row">
                        <center>
                           <p class="copyright">© Borjan 2016 All right reserved.</p>
                        </center>
                     </div>
                  </div>
               </div>
            </div>
         </footer>

</div>


<!-- footer end -->
<style type="text/css">
   .modal {
   z-index: 999999 !important;
   }
</style>
<div class="modal modal-fullscreen fade "  tabindex="1" role="dialog" id="modalAdvertising" style="  ">
   <div class="modal-dialog" style="    margin-top: 10%;">
      <div class="modal-content">
         <div class="modal-header">
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-sm-12">
                  <center>
                     <h3>Stay Updated!</h3>
                     <p>Enter your email address and get 10% discount for your first purchase.</p>
                     <br>
                  </center>
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                     <%= form_tag "/add_subscriber", :method => :post, :remote=>true do %>
                        <div class="input-group" style="    width: 100%;
                           margin-bottom: 5px;">
                           <%= text_field_tag :email, params[:email], :class=>"form-control", :placeholder=>"Email Address", :required=>true ,:style=>"background: transparent;border: solid 1px;" %>
                        </div>
                        <br>
                        <div class="input-group" style="    width: 100%;
                           margin-bottom: 5px;">
                           <%= text_field_tag :contact_no, params[:contact_no], :class=>"form-control", :placeholder=>"Number", :required=>true ,:style=>"background: transparent;border: solid 1px;" %>
                        </div>
                        <br>
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="float: right;
                           background: transparent;
                           border: solid 1px;">Submit</button>
                        </span>
                     <% end %>
                     <div class="checkbox">  
                        <input id="modal-hide" type="checkbox" value="hidden">  
                        <label for="modal-hide">Don't show this popup again</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear:both"></div>
      <center>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">Start</button>
      </center>
   </div>
</div>

<script type="text/javascript">
   $('.parallax-window').parallax({imageSrc: '/assets/footer-img.jpg'});
</script>

<script type="text/javascript">
   // function add_subscriber(element){
   //    var removeRow;
   //    if ($(element).hasClass('removerow')) {
   //       removeRow = true
   //    };
   //    var OrderItemRow = $(element).closest(".order-item");

   //    $.ajax({
   //      url: '/update_order_items',
   //      data: {"item_id" : OrderItem,
   //             "item_size": OrderItemSize, 
   //             "item_color_id": OrderItemColorId, 
   //             "item_quantity": OrderItemQuantity,
   //             "remove_row": removeRow},
   //      method: 'post',
   //      success: function(data) {
   //        $("#cart_page").html(data);
   //      }
   //    });
   // }
</script>