<div class="container">
   <div class="row">
      <center>
         <br>
         <h2><span style=" color:#333;">Hot  </span>Selling</h2>
         <p>

         </p>
         <br>
      </center>
      <div id="container" class="cf">
         <div id="main" role="main">
            <section class="slider">
               <div class="flexslider carousel">
                  <ul class="slides">
                     <% @hot_selling.each do |product| %>
                     <%if product.permalink%>
                     <li class="col-md-3">
                        <a href="<%=product_path(product.permalink) %>">
                           <div class="border-shade">
                              <article class="product-item" style="border: solid 1px #fff;">
                              
                               <div class="products-height" >
                                 <img  src="<%= product.try(:default_image).try(:path) ? product.try(:default_image).try(:path) : '/assets/placeholder.jpg'  %>" class="" alt="" style="    width: 100%;">
                                 </div>
                               
                                 <h3>
                                    <%= product.name%>
                                 </h3>
                                 <span class="price">
                                 <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                                 </span>
                                 <br> <br>
                              </article>
                           </div>
                        </a>
                     </li>
                     <% end %>
                       <% end %>
                  </ul>
               </div>
            </section>
         </div>
      </div>
      <br><br>
      <center>
         <a style="letter-spacing: 8px;" href="<%= products_path(hot_selling: true) %>" class="btn btn-default btn-lg">Shop Now</a>
      </center>
      <div classs="clear-both"></div>
























   </div>
</div>


