<div class="container">
   <div class="row">
      <center>
         <br>
         <h2><span style=" color:#333;">Hot  </span>Selling</h2>
         <p>

         </p>
         <br>
      </center>
      <div id="container" class="cf">
         <div id="main" role="main">
            <section class="slider">
               <div class="flexslider carousel">
                  <ul class="slides">
                     <% @new_arrivals.each do |product| %>
                     <li class="col-md-3">
                        <a href="<%=product_path(product.permalink) %>">
                           <div>
                              <article class="product-item" style="border: solid 1px #fff;">
                              <div class="image-size" style="height: 160px;
       line-height: 300px;
      
       display: flex;
       overflow: hidden;
       vertical-align: middle;
       text-align: center;
       margin: auto;">
                                 <img src="<%= product.try(:default_image).try(:path) %>" class="img-responsive product_image_size" alt="">
                                 </div>
                                 <h3>
                                    <%= product.name%>
                                 </h3>
                                 <span class="price">
                                 <del><span class="amount">Rs 36.00</span></del>
                                 <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                                 </span>
                                 <br> <br>
                              </article>
                           </div>
                        </a>
                     </li>
                     <% end %>
                  </ul>
               </div>
            </section>
         </div>
      </div>
      <br><br>
      <center>
         <a style="letter-spacing: 8px;" href="<%= products_path(hot_selling: true) %>" class="btn btn-default btn-lg">Shop Now</a>
      </center>
      <div classs="clear-both"></div>
























   </div>
</div>


