<!-- ==========================
   GRID PRODUCTS - START 
   =========================== -->
<section class="content grid-products border-top new_background" id="just" >
   <div class="container">
      <div class="row">
         <center>
            <h2><span style=" color:#333;">New </span>Arrivals</h2>
            <p>
            </p>
            <br>
         </center>
         <div id="container" class="cf">
            <div id="main" role="main">
               <section class="slider">
                  <div class="flexslider carousel">
                     <ul class="slides">
                        <% @new_arrivals.each do |product| %>
                        <%if product.permalink%>
                        <li>
                        <a href="<%=product_path(product.permalink) %>">
                           <div class="border-shade">
                              <article class="product-item" style="border: solid 1px #fff;">
                                <div class="products-height" >
                                 <img src="<%= product_image(product) %>" class=" " alt="" style="">
                                 </div>
                                 <h3>
                                    <%= product.name%>
                                 </h3>
                                 <span class="price">
                                 <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                                 </span>
                                 <br> <br>
                              </article>
                           </div>
                           </a>
                        </li>
                        <% end %>
                        <% end %>
                     </ul>
                  </div>
               </section>
               <style type="text/css">
                  .flexslider:hover .flex-prev {
                  opacity: 0.8 !important;
                  left: 5px !important;
                  }
                  .flexslider .flex-prev {
                  opacity: 0.8 !important;
                  left: 5px !important;
                  }
               </style>
            </div>
         </div>
         <br><br>
         <center>
            <a style="letter-spacing: 8px;" href="<%= products_path(new_arrivals: true) %>" class="btn btn-default btn-lg">Shop Now</a>
         </center>
         <div classs="clear-both"></div>
      </div>
   </div>
   <br>
   <br>
   <%= render "hot_selling" %>
   <br><br>
</section>