  <br><br><br>
  <section class="content products">
    <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
        <div class="row">
          <br>
          <center>
            <h1>CAREERS</h1>
          </center>
        </div>
        <hr>
      </article>
    </div>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <% @jobs.try(:each) do |job| %>
        <div class="job-post" >
          <center>
            <h2><%= job.name %> </h2>
            <p>
              <%= job.description%>
            </p>
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#applay">apply now</button>
          </center>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>
</section>
<div style="clear:both:"></div>
<br><br>

<div id="applay" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close button-stype" data-dismiss="modal">&times;</button>
        <center>
          <h1 class="modal-title">Apply Now! </h1>
        </center>
      </div>
      <center>
        <div class="modal-body">
          <div class="signin-half">
            <hr>
            <%= form_tag('/add_careers',"data-parsley-validate" => true) do %>
            <%= select_tag(:job_id, options_for_select(Shoppe::Job.all.collect{|m| [m.name, m.id]}), class: "input-checkout") %>
            <%= text_field_tag :first_name, nil, class: "input-checkout", placeholder: "First Name:", required: true%>
            <%= text_field_tag :last_name, nil, class: "input-checkout", placeholder: "Last Name:", required: true%>
            <%= text_field_tag :email, nil, class: "input-checkout", placeholder: "Email", required: true%>
            <%= text_field_tag :contact_no, nil, class: "input-checkout", placeholder: "Contact no", required: true%>
            <%= text_field_tag :cnic_no, nil, class: "input-checkout", placeholder: "NIC", required: true%>
            <%= date_field(:date_of_birth, :date_of_birth, class: "input-checkout", required: true) %>
            <%= select_tag(:gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), class: "input-checkout") %>
            <%= select_tag(:martial_status, options_for_select([["Martial Status", ""], ["Single", "Single"], ["Married", "Married"]]), class: "input-checkout") %>
            <%= text_field_tag :mailing_address, nil, class: "input-checkout", placeholder: "Mailing address"%>
            <%= text_field_tag :city, nil, class: "input-checkout", placeholder: "City"%>
            <h1>Educational Info </h1>
            <%= select_tag(:highest_degree, options_for_select([["Highest Degree", ""], ["Computer IT", "Computer IT"], ["Master", "Master"]]), class: "input-checkout") %>
             <%= select_tag(:institute, options_for_select([["Institute", ""], ["LUMS", "LUMS"], ["FAST", "FAST"], ["COMSATS", "COMSATS"]]), class: "input-checkout") %>
              <%= select_tag(:year_of_completion, options_for_select([["Year of Completion", ""], ["2000", "2000"], ["2001", "2001"]]), class: "input-checkout") %>
               <%= text_field_tag :gpa, nil, class: "input-checkout", placeholder: "CGPA / Grade"%>
               <%= text_field_tag :certification, nil, class: "input-checkout", placeholder: "Certification"%>
               <h1>Employee Info </h1>
               <%= select_tag(:relevant_experice, options_for_select([["Relevant Experice", ""], ["2000", "2000"], ["2001", "2001"]]), class: "input-checkout") %>
               <%= select_tag(:designation, options_for_select([["Title / Designation", ""], ["LUMS", "LUMS"], ["FAST", "FAST"], ["COMSATS", "COMSATS"]]), class: "input-checkout") %>
               <%= text_field_tag :organization, nil, class: "input-checkout", placeholder: "Organization"%>
               <%= text_field_tag :address, nil, class: "input-checkout", placeholder: "Address"%>
               <%= file_field_tag 'attachments[default_image][file]' %>
               <%= hidden_field_tag 'attachments[default_image][role]', 'default_image' %>

            <div style="clear:both"></div>
            <br>
          </div>
          <a href="#" class="btn btn-default">Cancel</a>
           <%= submit_tag("Send", class: "btn btn-default") %>
          <% end %>
        </div>
      </center>
    </div>
  </div>
</div>