<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>CONTACT US</h1>
          <p>Leave us a Message</p>
        </center>
      </div>
      <hr>
    </article>
  </div>
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="signin-half ">
      <%= form_for :user , :url=> "/contact", :html => {:id => "contact_form", "data-parsley-validate" => true} do |f|%>
        <span class="checkout-bulit">First Name:</span>
        <%= f.text_field :first_name, :class=>"input-checkout", :required=>true %>
        <span class="checkout-bulit">Last Name:</span>
        <%= f.text_field :last_name, :class=>"input-checkout", :required=>true %>
        <span class="checkout-bulit">Email</span>
        <%= f.email_field :email, :class=>"input-checkout", :required=>true %>
        <span class="checkout-bulit">Address </span>
        <%= f.text_field :address, :class=>"input-checkout", :required=>true%>
        <span class="checkout-bulit">Comment </span><br>
        <%= f.text_area :comment, :class=>"input-checkout", :style=>"width: 100%;height: 120px;", :required=>true %>
        <div style="clear:both"></div>
        <br>
        <center>
          <input type="submit" value="Send" class="btn btn-default btn-lg">
        </center>
        <br><br>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
     <div class="text-center">
      <h2>Lahore</h2>
      
      <br> 333-R Main Boulevard، Johar Town، Lahore 54770 <br>      
      042-35291667 <br>
      customercare@borjan.com.pk
    </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</section>
<div style="clear:both:"></div>
<br><br>