<div>
<% order.order_items.each do |item| %>
   <div class="col-md-2">
      <img src='<%= item.ordered_item.try(:default_image).try(:path)%>' width='200px' height='98px;' alt='Not found' class="img-responsive" alt="" draggable="false">
   </div>
   <div class="col-md-10">
      <div class="col-md-3 allan">
         <h3> <%= item.ordered_item.get_name %> |<strong><%= number_to_currency item.unit_price %> 
         <small>
         <!-- PKR -->
         </small>
         </strong></h3>
         <p class="details-cart">peltro distressed (H38222)</p>
         <strong>Size: </strong>
         <%= select_tag 'size', options_for_select(item.ordered_item.get_sizes.collect(&:name), item.size), :class=> "qty" %>
      </div>
      <div class="col-md-3  allan">
         <strong><span class="qty-font">COLOR: </span></strong>
         <%= select_tag 'color', options_for_select(item.ordered_item.get_variants.collect{ |v| [v.name, v.id] }, item.ordered_item.id), :class=> "qty", :style=>"width:40%;" %>
      </div>
      <div class="col-md-3  allan">
         <strong><span class="qty-font">QTY:</span> </strong>
         <%= select_tag 'quantity', options_for_select(Shoppe::Product::QUANTITY, item.quantity), :class=> "qty" %>
         <span class="remove-qty">
         <button class="removerow">Remove</button>
         </span>
      </div>
      <div class="col-md-3  allan"><span class="cart-total"> Total <%= number_to_currency item.sub_total %> </span></div>
   </div>
   <div style="clear:both"></div>
   <br><br>
<% end %>
</div>