<br><br><br>
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <div class="row">
            <br>
            <center>
               <h1>CHECKOUT</h1>
            </center>
            <hr>
         </div>
      </article>
   </div>
   <div  class="container">
      <div class="col-md-12">
         <div >
         <% if @order.errors.any? %>
         <ul>
           <% @order.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </ul>
         <% end %>
         <%= form_for @order, :url => checkout_details_path do |f| %>
            <div class="signin-half col-md-8 ">
               <div class="col-md-12">
                  <h3>Contact Details</h3>
                  <br>
               </div>
               <div class="col-md-6"> 
                  <span class="checkout-bulit">Email Address*</span>
                  <%= f.text_field :email_address, :class=>"input-checkout", :placeholder=>"Email Address" %>
               </div>
               <div class="col-md-6">  
                  <span class="checkout-bulit">Phone Number*</span>
                  <%= f.text_field :phone_number, :class=>"input-checkout", :placeholder=>"0321-xxxxxxx / 0423-xxxxxxx" %>
               </div>
               <div style="clear:both"></div>
               <hr>
               <div class="col-md-12">
                  <h3>Delivery Details</h3>
                  <br>
               </div>
               <div class="col-md-6"> 
                  <span class="checkout-bulit">First Name*</span>
                  <%= f.text_field :first_name, :class=>"input-checkout", :placeholder=>"Enter First Name" %>

               </div>
               <div class="col-md-6">  
                  <span class="checkout-bulit">Last Name*</span>
                  <%= f.text_field :last_name, :class=>"input-checkout", :placeholder=>"Enter Last Name" %>
               </div>
               <div style="clear:both"></div>
               <br>
               <div class="col-md-6">
                  <span class="checkout-bulit">Country*</span>
                  <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name,{},{ :include_blank => true, :class=>"input-checkout"} %>
               </div>
               <div class="col-md-6"> 
                  <span class="checkout-bulit">City/Town*</span>
                  <%= f.text_field :city, :class=>"input-checkout", :placeholder=>"Enter & Select City" %>
               </div>
               <div style="clear:both"></div>
               <br>
               <div class="col-md-6"> 
                  <span class="checkout-bulit">Address*</span>
                  <%= f.text_area :billing_address1, :class=>"input-checkout", :placeholder=>"Enter Address", :style=>"min-height: 80px;" %>
               </div>
               <div style="clear:both"></div>
               <hr>
               <div class="col-md-6">
                  <h3>Payment Method</h3>
               </div>
               <br><br>
               <div class="col-md-6">
                  <span class="checkout-bulit">Payment Type*</span>
                  <select class="input-checkout">
                     <option value="1" selected="selected">Select Payment Type</option>
                     <option value="2">Visa</option>
                     <option value="3">Maste</option>
                     <option value="4">Cash On Delivery</option>
                  </select>
               </div>
               <div class="col-md-6"> </div>
               <div style="clear:both"></div>
               <br>
               <div class="col-md-6"> 
                  <span class="checkout-bulit">Order Notes</span>
                  <%= f.text_area :order_notes, :class=>"input-checkout", :placeholder=>"Enter Address", :style=>"min-height: 80px;" %>
               </div>
               <div class="col-md-6"> </div>
               <div style="clear:both"></div>
               <hr>
               <br>
               <div class="col-md-6"> 
                  <input type="checkbox"> <span class="checkout-bulit">Deliver to the current address</span><br><br>
               </div>
               <div class="col-md-6"> 
                  <label><input type="checkbox" name="colorCheckbox" value="red"> Deliver to the permanent address</label><br><br>
               </div>
               <div style="clear:both"></div>
               <div class="red box">
                  <div class="col-md-6"> 
                     <span class="checkout-bulit">First Name*</span><input type="text" value="" class="input-checkout" placeholder="Enter First Name">
                  </div>
                  <div class="col-md-6"> 
                     <span class="checkout-bulit">Last Name*</span><input type="text" value="" class="input-checkout" placeholder="Enter Last Name">
                  </div>
                  <div style="clear:both"></div>
                  <div class="col-md-12"> 
                     <span class="checkout-bulit">Address</span>
                     <textarea class="input-checkout" placeholder="" style="min-height: 80px;"></textarea>
                  </div>
               </div>
               <div style="clear:both"></div>
               <hr>
               <div class="col-md-6"> 
                  <input type="checkbox"> <span class="checkout-bulit">I agree to the Terms & Conditions.</span><br><br>
                  <%= f.submit 'Order Now', :class=>"btn btn-default btn-lg" %>
               </div>
            </div>
         <% end %>
            <!-- ..................................................... -->
            <%= render "order_summary", order:@order %>
         </div>
      </div>
   </div>
</section>

<script type="text/javascript">
   $(document).ready(function(){
       $('input[type="checkbox"]').click(function(){
           if($(this).attr("value")=="red"){
               $(".red").toggle();
           }
           if($(this).attr("value")=="green"){
               $(".green").toggle();
           }
         
       });
   });
</script>