- @page_title = t('shoppe.jobs.jobs')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.jobs.new_job'), :new_job, class: 'button green'
  %h2.users= t('shoppe.jobs.jobs')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.jobs.name')
        %th= t('shoppe.jobs.people_applied')
        %th= "Creation Date"
    %tbody
      - if @jobs.empty?
        %tr.empty
          %td{:colspan => 3}= t('shoppe.jobs.no_jobs')
      - else
        - for job in @jobs
          %tr
            %td=link_to job.name, [:edit, job]
            %td=link_to job.careers.count, get_emails_by_job_job_path(job)
            %td= format_date(job.created_at)
= paginate @jobs

:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }
