.table
  %table.data
    %thead
      %tr
        %th{:width => '7%'}
          = form_tag(:products, method: "get") do
            = 'Position'
        %th{:width => '13%'}
          = form_tag(:products, method: "get") do
            = t('shoppe.products.sku')
            / = search_field_tag :sku, params[:sku], size: 25, min: 2, placeholder: t('shoppe.products.filter.sku')
        %th{:width => '35%'}
          = form_tag(:products, method: "get") do
            = t('shoppe.products.name')
            / = search_field_tag :name, params[:name], size: 65, min: 3, placeholder: t('shoppe.products.filter.name_or_description')
        %th{:width => '10%'}= t('shoppe.products.price')
        %th{:width => '20%'}= t('shoppe.products.variants')
        %th{:width => '15%'}= t('shoppe.products.stock')
      %tr
        %th
        %th(colspan='5')
          / = t('shoppe.product_category.product_categories')
          / - options = options_for_select(nested_set_options(Shoppe::ProductCategory) {|i| "#{'-' * i.level} #{i.name}" }, params[:category_id] )
          / = select_tag 'parent_id', options, { onchange: "window.location.href='#{products_url}/?category_id=' + $(this).val() + ''"}
    %tbody
      - if products.empty?
        %tr.empty
          %td{:colspan => 6}= t('shoppe.products.no_products')
      - else
        - for category, products in products
          %tr
            %th{:colspan => 6}= category.get_category_sequence
          - for product in products
            %tr
              %td= product.position
              %td= product.sku
              %td
                = link_to check_for_active(product), [:edit, product]

                %span.float-right= link_to t('shoppe.products.view_stock') , view_stock_path(:item_type => product.class, :item_id => product.id), :class => '', :rel => 'dialog', :data => {:dialog_width => 700}
              %td= number_to_currency product.price
              - if product.has_variants?
                %td.table{:colspan => 2}
                  %table.data
                    - for variant in product.variants
                      %tr
                        %td{:width => '20%'}
                          = link_to check_for_default_and_active(variant), edit_product_variant_path(product, variant)
                        %td{:width => '15%'}
                          - if variant.stock_control?
                            %span.float-right= link_to t('shoppe.products.edit') , stock_level_adjustments_path(:item_type => variant.class, :item_id => variant.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                            = boolean_tag(variant.in_stock?, nil, :true_text => variant.stock, :false_text => t('shoppe.products.no_stock'))
                          - else
                            &#8734;
              - else
                %td{:width => '20%'}
                %td{:width => '15%'}
                  - if product.stock_control?
                    %span.float-right= link_to t('shoppe.products.edit'), stock_level_adjustments_path(:item_type => product.class, :item_id => product.id), :class => 'edit', :rel => 'dialog', :data => {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
                    = boolean_tag(product.in_stock?, nil, :true_text => product.stock, :false_text => t('shoppe.products.no_stock'))
                  - else
                    &#8734;
