- @page_title = t('shoppe.products.products')

= content_for :header do
  %p.buttons
    = link_to "Export Stock List", export_stock_path(format: "xls"), :class => 'button button'
    = link_to t('shoppe.products.new_product'), :new_product, :class => 'button green'
    / = link_to t('shoppe.products.import_products'), :import_products, :class => 'button gray'
    = link_to t('shoppe.products.search_product'), '#', class: 'button', rel: 'searchOrders'
  %h2.products= t('shoppe.products.products')

= render 'search_form'

= render 'table', :products => @products

= paginate @products_paged
