- @page_title = t('shoppe.stock_level_adjustments.stock_levels_title', item_name: @item.name)

= content_for :header do
  %p.buttons
    - case @item
    - when Shoppe::Product
      - @active_nav = :products
      = link_to t('shoppe.stock_level_adjustments.edit_product'), [:edit, @item], :class => 'button'
      = link_to t('shoppe.stock_level_adjustments.back_to_product'), :products, :class => 'button'

  %h2.products= t('shoppe.stock_level_adjustments.stock_levels_for', item_name: @item.name)

.table
  %p.info
    = t('shoppe.stock_level_adjustments.current_stock_level_html', item_stock: @item.stock).html_safe
    %span.float-right= page_entries_info @stock_level_adjustments

  = form_for @new_sla do |f|
    = hidden_field_tag 'item_type', params[:item_type]
    = hidden_field_tag 'item_id', params[:item_id]
    %table.data
      %thead
        %tr
          %th{:width => '25%'}= t('shoppe.stock_level_adjustments.date')
          - if @item.variant?
            %th{:width => '25%'}= t('shoppe.stock_level_adjustments.size')
          %th{:width => '25%'}= t('shoppe.stock_level_adjustments.description')
          %th{:width => '25%'}= t('shoppe.stock_level_adjustments.adjustment')
      %tbody
        %tr.form
          %td
          - if @item.variant?
            %td= f.collection_select :size_id, @item.get_sizes, :id, :name,{},{}
          %td.desc= f.text_field :description
          %td.adjustment
            = f.text_field :adjustment
            = f.submit t('shoppe.stock_level_adjustments.add'), :class => 'button button-mini green'
        - for sla in @stock_level_adjustments
          %tr
            %td= l(sla.created_at, format: :long)
            - if @item.variant?
              %td= sla.try(:size).try(:name)
            %td= sla.description
            %td= sla.adjustment > 0  ? "+#{sla.adjustment}" : sla.adjustment

    = paginate @stock_level_adjustments


:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }