
<nav class="navbar navbar-default  prodect-menu">
  <div class="container-fluid " style="padding: 0;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand catgory-phone" href="#"><h2>Categories</h2></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-left-phone" id="bs-example-navbar-collapse-1" style="padding:0px;">
      
     <% unless @product_categories_without_parent.empty? %>
   <% for cat in @product_categories_without_parent %>
      <ul id="MainMenu"  class=" text-left-phone" style="list-style: none;">
        <li class="list-group " style="    margin-bottom: 0px;">
          <a id="<%= cat.permalink %>" href="#<%= cat.id %>-cat" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" onclick="getProducts(this)"><%= cat.name %></a>
          <li class="collapse " id="<%= cat.id %>-cat">
             <ul>
             <% if cat.children.count > 0 %>
               <%= nested_product_category_rows2(cat)%>
             <% end %>
             </ul>
          </li>
        </li>
      </ul>
   <% end %>
<% end %>


<!--  brands -->
<a href="#brands" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Brands</a>
<div class="collapse" id="brands">
  <% if @brands.present? %>
    <% @brands.each do |brand| %>
     <a href="<%= products_path(brand: brand) %>" class="list-group-item" data-remote="true"> <%= brand %> </a>
    <% end %>
  <% end %>
</div>
<hr style=" margin-top: 4px;margin-bottom: 4px;">
<!--  size -->
<a href="#size" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Size</a>
<div class="collapse" id="size">
  <% if @sizes.present? %>
    <% @sizes.each do |size| %>
     <a href="<%= products_path(size_id: size.id) %>" class="list-group-item" data-remote="true"> <%= size.name %> </a>
    <% end %>
  <% end %>
</div>
<!--  size -->
<!-- color -->
<a href="#color" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Color</a>
<div class="collapse" id="color">
  <% if @color_names.present? %>
    <% @color_names.each do |color| %>
     <a href="<%= products_path(color_name: color) %>" class="list-group-item" data-remote="true"> <%= color %> </a>
    <% end %>
  <% end %>
</div>
<!-- color -->
<!--  price -->
<a href="#price" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Price</a>
<div class="collapse " id="price">
  <p>
    <input type="text" id="amount" readonly class="range_slider_amont">
  </p>
   
  <div id="slider-range"></div>

  <br>
   <a class="btn pricebutton active" onclick="filterProducts()"> Update </a>
   
</div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>