<% unless @product_categories_without_parent.empty? %>
   <% for cat in @product_categories_without_parent %>
      <ul id="MainMenu" style="list-style: none;">
        <li class="list-group " style="    margin-bottom: 0px;">
          <a id="<%= cat.permalink %>" href="#<%= cat.id %>-cat" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" onclick="getProducts(this)"><%= cat.name %></a>
          <li class="collapse" id="<%= cat.id %>-cat">
             <ul>
             <% if cat.children.count > 0 %>
               <%= nested_product_category_rows2(cat)%>
             <% end %>
             </ul>
          </li>
        </li>
      </ul>
   <% end %>
<% end %>
<br><br><br>