
  <% @products.each do |product| %>
  <!-- PRODUCT - START -->
  <div class="col-sm-3 col-xs-6 ">
     <article class="product-item ">
        <div class="row border-shade">
           <div class="col-sm-3 ">
              <div class="">
                 <div class="product-mask"></div>
                 <a href="<%=product_path(product.permalink)%>" class="product-permalink" data-no-turbolink=true ></a>
                 <img src="<%= product.try(:default_image).try(:path) %>" class="img-responsive product_image_size" alt="Not found">
                 <div class="product-quickview" onclick="getProductDetail(this)">
                    <%= hidden_field_tag :product_id,{}, :value=>"#{product.permalink}"  %>
                    <a class="btn btn-quickview"><i class="fa fa-search"></i></a>
                 </div>
              </div>
           </div>
           <div class="col-sm-9" style="    padding: 0px;">
              <div class="product-body">
                 <h3><%= link_to product.name, product_path(product.permalink) , 'data-no-turbolink' => true%></h3>
                 <span class="price">
                 <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                 </span>                                          
                 <center>
                    <div style="margin-top: 12px;     width: 58%;">
                      <% product.get_colors.each do |color| %>
                        <div class="color1" style="background:#<%= color %>;"></div>
                       <% end %>
                    </div>
                 </center>
              </div>
           </div>
        </div>
     </article>
  </div>
  <!-- PRODUCT - END -->
  <%end%>

<div id="product-quickview2">
</div>