<!-- ==========================
   PRODUCT QUICKVIEW - START
   =========================== -->
<div class="modal fade modal-quickview" id="product_detail_popup" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close button-stype" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
         </div>
         <div class="modal-body">
            <article class="">
               <div class="row">
                  <div class="col-md-4">
                     <img src="<%= @product.try(:default_image).try(:path)%>" class="img-responsive" alt="" width="265" height="179">
                  </div>
                  <div class="col-sm-8">
                     <div class="product-item product-single">
                        <h3><%= @product.get_name %></h3>
                        <div>
                          <%= rating_for @product, "name", :star => 5 %>
                        </div>

                     </div>
<!--                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                     </div> -->
                       
                     <ul class="list-unstyled product-info">
                        <li><span>ID</span>U-187423</li>
                        <li><span>Availability</span>In Stock</li>
                        <li><span>Brand</span>Esprit</li>
                        <ul>
                          <% @product.get_product_attributes.each do |attribute| %>
                           <li><%= attribute.key %> _ <%= attribute.value %></li>
                           <%end%>
                        </ul>
                     </ul>
                     <div class="popbottom">
                       <p><%= @product.description.try(:html_safe) %></p>
                     </div>

                     <div class="clear20"></div>
                     <div class="product-form clearfix">
                        <div id="popup_product_form" class="row row-no-padding ">
                           <%= form_tag product_path(@product.permalink), :method => :post, :class=>"form-inline" do %>
                              <div class="col-lg-3 col-md-4 col-sm-6 no-padding">
                                 <div class="product-quantity clearfix">
                                    <a class="btn btn-default btn-count" id="modal-qty-minus">-</a>
                                    <%= text_field_tag :quantity, params[:quantity], id: 'modal-qty', :class=>"form-control quent", :value=>"1" %>
                                    <a class="btn btn-default btn-count2" id="modal-qty-plus">+</a>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 padding-left">
                                 <div class="product-size">
                                    <% if @product.has_sizes? %>
                                       <div id="size_block" class="form-group">
                                          <label>Size:</label>
                                       <%= select_tag 'size', options_for_select(@product.get_sizes.collect(&:name)),{:prompt=>"Please select", :class=> "form-control quent1"} %>
                                       </div>
                                    <% end %>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 no-padding">
                                 <div class="product-color">
                                 <% if @product.has_colors? %>
                                   <div id="color_block" class="form-group">
                                      <label>Color:</label>
                                      <%= select_tag 'color', options_for_select(@product.get_variants.collect{ |v| [v.name, v.permalink] }),{:prompt=>"Please select", :class=> "form-control quent1"} %>
                                   </div>
                                 <% end %>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-12 col-sm-6">
                                 <button type="submit" class="btn btn-primary add-to-cart" style="color: #ddd; background: #00215F;">
                                   <i class="fa fa-shopping-cart"></i>
                                   Add to cart
                                 </button>
                              </div>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>
<!-- ==========================
   PRODUCT QUICKVIEW - END 
   =========================== -->
<%= javascript_include_tag 'ratyrate.js'%>
<script type="text/javascript">
   $('#popup_product_form form').submit(function() {
       var size = $("#size").val();
       var color = $("#color").val();
       var quantity = $('#modal-qty').val();
          if ((size == null || size == "") && ($("#size_block").length)) {
              toastr.error("Please select any Size.");
              return false;
          } else if ((color == null || color == "") && ($("#color_block").length)) {
              toastr.error("Please select any Color.");
              return false;
          } else if (quantity == null || quantity == "" || quantity < 1){
              toastr.error("Please Enter a valid Quantity.");
              return false;
          }
      });

   $('#modal-qty-plus').click(function(e) {
    var temp = $('#modal-qty').val();
      if (temp == null || temp == "") {
        $('#modal-qty').prop("value", 1);
      } else {
        $('#modal-qty').prop("value",parseInt(temp) + 1);
      }
   });
   
   $('#modal-qty-minus').click(function(e) {
    var temp = $('#modal-qty').val();
    if(parseInt(temp) > 1) {
      $('#modal-qty').prop("value",parseInt(temp) - 1);
    }
   });
</script>