<!-- ==========================
   PRODUCT QUICKVIEW - START
   =========================== -->
<div class="modal fade modal-quickview" id="product_detail_popup" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close button-stype" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
         </div>
         <div class="modal-body">
            <article class="">
               <div class="row">
                  <div class="col-md-3">
                     <img src="<%= @product.try(:default_image).try(:path) ? @product.try(:default_image).try(:path) : '/assets/placeholder.jpg'%>" class="img-responsive" alt="" width="265" height="179">
                  </div>
                  <div class="col-md-9 col-sm-12">
                     <div class="product-item product-single">
                        <h3><%= @product.get_name %></h3>
                        <div>
                          <%= rating_for @product, "name", :star => 5 %>
                        </div>

                     </div>
                     <br>
                      <div class="detail-tab">
                       <div class="col-md-2 col-sm-3 col-xs-3">
                         <% if @product.in_stock? %>
                           In Stock
                         <% else %>
                           Out of stock
                         <% end %>
                       </div>
                     </div>
                     <div class="clearfix"></div>
                      <div class="detail-tab">
                       <div class="col-md-2 col-sm-3 col-xs-3">ID:</div>
                       <div class="col-md-9 col-sm-9 col-xm-3"><%= @product.article_no %></div>
                     </div>
                     <div class="clearfix"></div>
                      <div class="detail-tab">
                       <div class="col-md-2 col-sm-3 col-xs-3">Brand:</div>
                       <div class="col-md-9 col-sm-9 col-xm-3"><%= @product.brand %></div>
                     </div>
                     <div class="clearfix"></div>
                     <br>
                     <% @product.get_product_attributes.each do |attribute| %>
                        <div class="detail-tab">
                         <div class="col-md-2 col-sm-3 col-xs-3"><%= attribute.key %>: </div>
                         <div class="col-md-9 col-sm-9 col-xm-3"><%= attribute.value %></div>
                       </div>
                     <%end%>
                     <div class="clearfix"></div>
                    


                     <div class="popbottom">
                       <p><%= @product.description.try(:html_safe) %></p>
                     </div>

                     <div class="clear20"></div>
                     <div class="product-form clearfix">
                        <div id="popup_product_form" class="row row-no-padding ">
                           <%= form_tag product_path(@product.permalink), :method => :post, :class=>"form-inline" do %>

                              <div class="product-pop2" style="">
                                <label class="label-pop">QTY:</label>
                                 <div class="product-quantity clearfix">
                                    <a class="btn btn-default btn-count" id="modal-qty-minus">-</a>
                                    <%= text_field_tag :quantity, params[:quantity], id: 'modal-qty', :class=>"form-control quent", :value=>"1" %>
                                    <a class="btn btn-default btn-count2" id="modal-qty-plus">+</a>
                                 </div>
                              </div>
                              <div class="product-pop">
                                 <div class="product-size">
                                    <% if @product.has_sizes? %>
                                       <div id="size_block" class="form-group">
                                          <label class="label-pop">Size:</label>
                                       <%= select_tag 'size', options_for_select(@product.get_available_sizes.collect(&:name)),{:prompt=>"Please select", :class=> "form-control quent1"} %>
                                       </div>
                                    <% end %>
                                 </div>
                              </div>
                              <div class="product-pop">
                                 <div class="product-color">
                                 <% if @product.has_colors? %>
                                   <div id="color_block" class="form-group">
                                      <label class="label-pop">Color:</label>
                                      <%= select_tag 'color', options_for_select(@product.get_variants.collect{ |v| [v.name, v.permalink] }),{:prompt=>"Please select", :class=> "form-control quent1"} %>
                                   </div>
                                 <% end %>
                                 </div>
                              </div>
                              <div class="product-pop">
                                 <button type="submit" class="btn btn-primary add-to-cart" style="color: #ddd; background: #00215F;">
                                   <i class="fa fa-shopping-cart"></i>
                                   Add to cart
                                 </button>
                              </div>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>
<!-- ==========================
   PRODUCT QUICKVIEW - END 
   =========================== -->
<%= javascript_include_tag 'ratyrate.js'%>
<script type="text/javascript">
   $('#popup_product_form form').submit(function() {
       var size = $("#size").val();
       var color = $("#color").val();
       var quantity = $('#modal-qty').val();
          if ((size == null || size == "") && ($("#size_block").length)) {
              toastr.error("Please select any Size.");
              return false;
          } else if ((color == null || color == "") && ($("#color_block").length)) {
              toastr.error("Please select any Color.");
              return false;
          } else if (quantity == null || quantity == "" || quantity < 1){
              toastr.error("Please Enter a valid Quantity.");
              return false;
          }
      });

   $('#modal-qty-plus').click(function(e) {
    var temp = $('#modal-qty').val();
      if (temp == null || temp == "") {
        $('#modal-qty').prop("value", 1);
      } else {
        $('#modal-qty').prop("value",parseInt(temp) + 1);
      }
   });
   
   $('#modal-qty-minus').click(function(e) {
    var temp = $('#modal-qty').val();
    if(parseInt(temp) > 1) {
      $('#modal-qty').prop("value",parseInt(temp) - 1);
    }
   });
</script>