
  <% @products.each do |product| %>
  <!-- PRODUCT - START -->


  <div class=" col-md-3 col-sm-6  col-xs-12 phone-width ">


     <article class="product-item ">
        <div class="row border-shade">
           <div class=" ">
              <div class="">
                 <div class="product-mask"></div>
                 <a href="<%=product_path(product.permalink)%>" class="product-permalink" ></a>
                 <div class="products-height" >
                 <img   src="<%= product.try(:default_image).try(:path) ? product.try(:default_image).try(:path) : '/assets/placeholder.jpg' %>" class=" " alt="Not found" style="    width: 100%;">
                 </div>
                 <div class="product-quickview" onclick="getProductDetail(this)">
                    <%= hidden_field_tag :product_id,{}, :value=>"#{product.permalink}"  %>
                    <a class="btn btn-quickview"><i class="fa fa-search"></i></a>
                 </div>
              </div>
           </div>




           <div class="col-md-9" style="    padding: 0px;     margin-bottom: 25px;">
              <div class="product-body">
                 <h3 style="font-size: large;
    font-family: initial;
}"><%= link_to product.name, product_path(product.permalink)%></h3>
                 <span class="price">
                 <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                 </span>                                          
                 <center>

                    <div style="margin-top: 12px;     width: 58%;">
                      <% product.get_colors.each do |color| %>
                        <div class="color1" style="background:#<%= color %>;"></div>
                       <% end %>
                    </div>
                 </center>
              </div>
           </div>
        </div>
     </article>
  </div>
  <!-- PRODUCT - END -->
  <%end%>

<div id="product-quickview2">
</div>