
  <% @products.each do |product| %>
   <%if product.permalink%>  <!-- PRODUCT - START -->

  <div class=" col-md-3 col-sm-6  col-xs-12 phone-width ">


     <article class="product-item ">
        <div class="row border-shade">
           <div class=" ">
              <div class="">
                 <div class="product-mask"></div>
                 <a href="<%=product_path(product.permalink)%>" class="product-permalink" ></a>
                 <div class="products-height" >
                 <img   src="<%= product_image(product) %>" class=" " alt="Not found" style="    width: 100%;">
                 </div>
                 <div class="product-quickview" onclick="getProductDetail(this)">
                    <%= hidden_field_tag :product_id,{}, :value=>"#{product.permalink}"  %>
                    <a class="btn btn-quickview"><i class="fa fa-search"></i></a>
                 </div>
              </div>
           </div>

 


           <div class="col-md-9" style="    padding: 0px;     margin-bottom: 25px;">
              <div class="product-body">
                 <h3 style="font-size: large;font-family: initial;}"><%= link_to product.name, product_path(product.permalink)%></h3>
                 <span class="price">
                 <ins><span class="amount"><%= number_to_currency product.get_price %></span></ins>
                 <% if product.old_price.present? %>
                   <ins><s><span class="old_price"><%= number_to_currency product.old_price %></span></s></ins>
                 <% end %>
                 </span>                                          
                 <center>

                    <div style="margin-top: 12px;     width: 58%;">
                      <%if product.get_available_colors.present? %>
                        <% product.get_available_colors.each do |color| %>
                          <div class="color1" style="background:#<%= color %>;">
                            
                            <%if product.color_name == "Multi"%>
                                <div class="rainbow">
                                </div>
                            <% end %>
                          </div>
                         <% end %>
                       <% end %>

                    </div>
                 </center>

              </div>
           </div>
        </div>
     </article>
  </div>
  <!-- PRODUCT - END -->
  <%end%><%end%>

<div id="product-quickview2">
</div>