
  <% @products.each do |product| %>
   <%if product.permalink%>  <!-- PRODUCT - START -->

  <div class=" col-md-3 col-sm-6  col-xs-12 phone-width ">


     <article class="product-item ">
        <div class="row border-shade">
           <div class=" ">
              <div class="">
                 <div class="product-mask"></div>
                 <a href="<%=product_path(product.permalink)%>" class="product-permalink" ></a>
                 <div class="products-height" >
                 <img   src="<%= product_image(product) %>" class=" " alt="Not found" style="    width: 100%;">
                 </div>
                 <div class="product-quickview" onclick="getProductDetail(this)">
                    <%= hidden_field_tag :product_id,{}, :value=>"#{product.permalink}"  %>
                    <a class="btn btn-quickview"><i class="fa fa-search"></i></a>
                 </div>
              </div>
           </div>

 


           <div class="col-md-9" style="    padding: 0px;     margin-bottom: 25px;">
              <div class="product-body">
                 <h3 style="font-size: large;font-family: initial;}"><%= link_to product.name, product_path(product.permalink)%></h3>


                 <%if product.get_price_default_variant.present?%>
                 <span class="price">
                 <ins><span class="amount"><%= number_to_currency product.get_price_default_variant %>
                 <%#byebug%>
                 &nbsp;</span>
                 </ins>
                   <ins><s><span class="old_price"><%= number_to_currency product.get_old_price_default_variant %></span></s></ins>
                 </span>
                 <%elsif product.price.present?%>
                    <span class="price">
                     <ins><span class="amount"><%= number_to_currency product.price %>
                     <%#byebug%>
                     &nbsp;</span>
                     </ins>
                       <ins><s><span class="old_price"><%= number_to_currency product.get_old_price %></span></s></ins>
                     </span>
                 <%end%>



                 <center>

                    <div style="margin-top: 12px;     width: 58%;">
                      <%if product.get_available_variants.present? %>
                        <% product.get_available_variants.each do |v| %>
                          <%if v.name != "Multi"%>
                                  <div class="color1" style="background:#<%= v.color %>;cursor:pointer;" >
                                  </div>
                            <% else %>
                           
                                  <div class="rainbow color1" style="cursor:pointer; position:relative; right:9px;">
                                  </div>
                            <% end %>

                         <% end %>
                       <% end %>

                    </div>
                 </center>

              </div>
           </div>
        </div>
     </article>
  </div>
  <!-- PRODUCT - END -->
  <%end%><%end%>

<div id="product-quickview2">
</div>