<!-- Now only Variants will be displayed in show page -->
<div class="col-md-7">
   <div id="example">
      <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
         <a href="<%= product_image_path(@product) %>">
         <img src="<%= product_image_path(@product) %>" alt="" class="img-responsive"/>
         </a>
      </div>
      <ul class="thumbnails">
         <%@product.attachments.each do |attachment|%>
            <%unless ["data_sheet"].include?(attachment.role)%>
            <li>
               <a href="<%=attachment.path%>" data-standard="<%=attachment.path%>">
               <img src="<%=attachment.path%>" alt="" />
               </a>
            </li>
            <% end %>
         <% end %>
      </ul>
   </div>
   <div class="product-carousel-wrapper">
   </div>
</div>
<%= form_tag product_path(@product.permalink), :method => :post, :id => "product_form" do %>
  <%if @msg %>
    <script type="text/javascript">
      $(window).load(function(){
          $('#myModal').modal('show');
      });
  </script>
  <% end %>
  <div class="col-md-5">
     <div class="product-body" style="    margin-top: 2%;">
     <div class="col-sm-6 col-xs-6" style="    padding: 0;">
        <h2><%= @product.get_name %></h2>
        <% if @product.article_no.present? %>
          <p><span>Article No:&nbsp;</span><%= @product.article_no %></p>
        <% end %>
        <span class="">
        <br>
        <%= number_to_currency @product.get_price_product_display %> 
       <s><%= number_to_currency @product.get_old_price %></s>
        <br>
          <%= rating_for product_for_rating(@product), "name", :star => 5 %>
        </span>
        <br>
        <p style=" margin: 6px 0 0px;"><%= @product.get_short_description.try(:html_safe) %>
        </p>
        </div>
<div class="">
        <div class="product-form clearfix">
           <div class="row row-no-padding">
              <br>
              <% if @sizes.present? %>
                <div id="size_block">
                <div class="clearfix"></div>
                  <h3>Available Sizes</h3>
                  <% @sizes.each do |s| %>
                  <div onclick="selectSize(this)" class="size-list" style="    border: solid 1px #ddd;
                     width: 30px;
                     text-align: center;
                     margin-right: 2px;     float: left;cursor:pointer;" ><%=s.name%></div>
                  <% end %>
                  <%= hidden_field_tag :size,{}, :value=>"", :id=>"size"  %>
                </div>
              <% end %>
              <div class="clearfix"></div>
              <br><br>
           
              <% if @variants.present? %>
                <div class="color_block">
                
                  <h3 style="    margin-top: -12px;">Available Colors</h3>

                  <div style="margin-top: 12px;     width: 58%;">
                    <% @variants.each do |v| %>
              
                      <%if v.name != "Multi"%>
                              <div id="<%= v.permalink %>" class="color1" style="background:#<%= v.color %>;cursor:pointer;" onclick="updateProductDisplay(this)">
                              </div>
                        <% else %>
                       
                              <div id="<%= v.permalink %>" class="rainbow color1"   onclick="updateProductDisplay(this)" style="cursor:pointer; position:relative; right:9px;">
                              </div>
                        <% end %>
                       
                      
                    <% end %>
                  </div>
                </div>
              <% end %>
             <br>
              
              <div style="clear;both"></div>
              
           </div>
        </div>
        </div>
        <% if @product.in_stock? %>
          <h3>Quantity</h3>
              <div class="product-quantity clearfix">
                 <a class="btn btn-default" id="modal-qty-minus">-</a>
                 <%= text_field_tag :quantity, params[:quantity], id: 'modal-qty', :class=>"form-control", :value=>"1" %>
                 <a class="btn btn-default" id="modal-qty-plus">+</a>
              </div>
          <h4>In Stock.</h4>
          <br>
            <button type="submit" class="btn btn-primary add-to-cart" style=" color: #ddd; background: #00215F;float: left;">
            Add to cart
            <i class="fa fa-shopping-cart"></i>
          </button>
        <% else %>
        <br>
          <h2>Out Of Stock.</h2>
        <% end %>
        <br>
        <br>
        
     </div>
  </div>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body text-center">
        <p>Do you want to Continue Shopping or Go to Cart?</p>
        <br>        
          <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="location.href='<%= basket_path %>'">Go to Cart</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
        <br>
      </div>
      
    </div>

  </div>
</div>
<%= javascript_include_tag 'ratyrate.js'%>
<script>
   // Instantiate EasyZoom instances
   var $easyzoom = $('.easyzoom').easyZoom();
   
   // Setup thumbnails example
   var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');
   
   $('.thumbnails').on('click', 'a', function(e) {
       var $this = $(this);
   
       e.preventDefault();
   
       // Use EasyZoom's `swap` method
       api1.swap($this.data('standard'), $this.attr('href'));
   });
   
   // Setup toggles example
   var api2 = $easyzoom.filter('.easyzoom--with-toggle').data('easyZoom');
   
   $('.toggle').on('click', function() {
       var $this = $(this);
   
       if ($this.data("active") === true) {
           $this.text("Switch on").data("active", false);
           api2.teardown();
       } else {
           $this.text("Switch off").data("active", true);
           api2._init();
       }
   });


   $('#modal-qty-plus').click(function(e) {
    var temp = $('#modal-qty').val();
      if (temp == null || temp == "") {
        $('#modal-qty').prop("value", 1);
      } else {
        $('#modal-qty').prop("value",parseInt(temp) + 1);
      }
   });
   
   $('#modal-qty-minus').click(function(e) {
    var temp = $('#modal-qty').val();
    if(parseInt(temp) > 1) {
      $('#modal-qty').prop("value",parseInt(temp) - 1);
    }
   });

   $('#product_form').submit(function() {
    var size = $("#size").val();
    var quantity = $('#modal-qty').val();

     if ((size == null || size == "") && $("#size_block").length) {
         toastr.error("Please select any Size.");
         return false;
     } else if (quantity == null || quantity == "" || quantity < 1){
         toastr.error("Please Enter a valid Quantity.");
         return false;
     }

   });
</script>