<section class="content grid-products border-top" id="just"
   style="background:#f5f5f6 url(/assets/pro-bg.png) no-repeat; ; background-size: 100% auto;">
   <div class="container">
      <div class="col-md-12">
         <div class="releated-products">
            <div class="row grid" id="products">
            <div class="col-md-2"></div>
               <div class="col-md-8" style="padding: 0;">
                  <center>
                     <h3 >STYLES YOU MAY LIKE:</h3>
                  </center>
                  <br><br>
                  <% if @product.styles.present? %>
                   <% @product.styles.each do |product| %>
 <%if product.permalink%> 
                   <div class="col-md-4">
                      <article class="product-item pro-inner style-may-you ">
                         <div class="row">
                            <div class="col-sm-3">
                               <a href="<%=product_path(product.permalink)%>">
                                  <div class="" >
                                     <img style=" width: 100%" src="<%= product.try(:default_image).try(:path) ? product.try(:default_image).try(:path) : '/assets/placeholder.jpg' %>" class=""  class="img-responsive " alt="" >
                                     <div class="product-body" >
                                        <h3><%= product.name %></h3>
                                        <span class="price">
                                        <ins><span class="amount"><%= number_to_currency product.price %></span></ins>
                                        </span>                                          
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                      </article>
                   </div>
                   <% end %>
                  <% end %>
                  <%end%>
               </div>
               
               <% unless @product.try(:product_category).try(:name) == "Men" %>
                <div class="container">
                   <div class="col-md-12" style="display:none;">
                      <br>
                      <div class="col-md-6">
                         <div class="panel-group" id="accordion">
                            <div style="    border-bottom: solid 1px #ccc;">
                            </div>
                            <div class="panel panel-default">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">
                                     Product Details
                                     </a>
                                  </h4>
                               </div>
                               <div id="collapseOne" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                     <%= @product.description.try(:html_safe) %>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!-- /.panel-group -->
                      </div>
                      <div class="col-md-6">
                         <div class="panel-group" id="accordion">
                            <div style="    border-bottom: solid 1px #ccc;">
                            </div>
                            <div class="panel panel-default">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#fb" class="collapsed" aria-expanded="false">
                                     Facebook Comments 
                                     </a>
                                  </h4>
                               </div>
                               <div id="fb" class="panel-collapse collapse ">
                                  <div class="panel-body">
                                     <div class="fb-comments" data-href="<%= request.original_url %>" data-width="346" data-numposts="3"></div>
                                   </div>
                               </div>
                            </div>
                         </div>
                         <!-- /.panel-group -->
                      </div>
                   </div>
                </div>
               <% end %>
               <div style="clear:both;"></div>
            </div>
         </div>
      </div>
   </div>
</section>