<%if @heading.present? %>
  $("#category_heading").html("<%= @heading %>")
  $("#collection").html("")
<% elsif @category.present? %>
  $('#just').css('background-image', 'url("<%= @category.background_image.path rescue ''%>")');
  
  $("#category_heading").html("<%= @category.name %>")
  <% if @category.try(:parent_id)  %>
  // Show collection word only for main headings
    $("#collection").html("")
  <% else %>
    $("#collection").html("Collection")
  <% end %>

  // $("body").animate({ scrollTop: 0});
<%end%>


<%if @products.present? %>
      $("#products").html("<%=j render(:partial => 'products', :object => @products) %>");
      $('.pagination').html('<%=j(paginate(@products, :remote => true).to_s) %>');
<%else%>
  $('#products').html('<h1 class="text-center products_not_found">No Results Found</h1>');
<%end%>
