<section class="content grid-products border-top" id="just" style="background:#f5f5f6 url(<%= @category.background_image.path rescue '' %>) no-repeat; ; background-size: 100% auto; ">
   <div class="container">
      <br> <br> <br> <br>
      <section class="breadcrumb-wrapper" style=" ">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <center>
                     <% if @heading.present? %>
                     <h2 ><span id="category_heading" style=" color:#333;"><%= @heading %></span></h2>
                     <% elsif @category.present? %>
                      <h2 ><span id="category_heading" style=" color:#333;"><%= @category.name %></span>
                      <!-- Show collection word only for main headings -->
                      <span id="collection"><%= "Collection" unless @category.try(:parent_id) %></span>
                      </h2>
                    <% else %>
                    <h2 ><span id="category_heading" style=" color:#333;"></span>
                    <span id="collection"></span>
                    </h2>
                     <% end %>
                  </center>
               </div>
            </div>
         </div>
      </section>
      <div class="col-md-12" style="     margin-top: 14px;
         padding-left: 0px;
         border-bottom: solid 1px #aaaaaa;
         margin-bottom: 20px;">
         <div class="col-md-8">
         </div>
         <div class="col-md-4">
         </div>
      </div>
      <h2 class="hidden">Products</h2>
      <div class="row">
         <div class="col-md-2" style="    text-align: right;">
            <%= render "categories_sidebar" %>
         </div>
         <div class="col-md-10 infinite-table">
            <div class="row grid" id="products">
              <%if @products.present? %>
                <%= render "products" %>
              <%else%>
                <h1 class="text-center products_not_found">No Results Found</h1>
              <%end%>
            </div>
            <p class="pagination hidden">
                <% if @products.present? %>
                <%= link_to_next_page(@products, 'Next Page', :remote => true, :params => params) %>
                <% end %>
              </p>
         </div>
      </div>
   </div>
</section>
<!-- ==========================
   PRODUCTS - END 
   =========================== -->

