<%if @heading.present? %>
  $("#category_heading").html("<%= @heading %>")
  $("#collection").html("")
<% elsif @category.present? %>
  $('#just').css('background-image', 'url("<%= @category.background_image.path rescue ''%>")');
  
  $("#category_heading").html("<%= @category.name %>")
  <% if @category.try(:parent_id)  %>
  // Show collection word only for main headings
    $("#collection").html("")
  <% else %>
    $("#collection").html("Collection")
  <% end %>

  // $("body").animate({ scrollTop: 0});
<%end%>

<%if @products.present? %>

  $("#products").find("h1").remove();
    <% if params[:page].present? %>
    // Append new data
      $("<%=j render(:partial => 'products', :object => @products) %>")
        .appendTo($(".infinite-table #products"));
    <% else %>
    $('#products').html("<%=j render(:partial => 'products', :object => @products) %>");
    <% end %>

    // Update pagination link
    <% if @products.last_page? %>
      $('.pagination').html("That's all!");
    <% else %>
      $('.pagination').html("<%=j link_to_next_page(@products, 'Next Page', :remote => true, :params => params) %>");
    <% end %>

<%else%>
  $('#products').html('<h1 class="text-center products_not_found">No Results Found</h1>');
<%end%>
