<%if @category.is_a?(String)%>
  $("#category_heading").html("<%= @category %>")
<% elsif @category.present? %>
  $("#category_heading").html("<%= @category.name %>")
  // $("body").animate({ scrollTop: 0});
<%end%>

<%if @products.present? %>

  $("#products").find("h1").remove();
    <% if params[:page].present? %>
    // Append new data
      $("<%=j render(:partial => 'products', :object => @products) %>")
        .appendTo($(".infinite-table #products"));
    <% else %>
    $('#products').html("<%=j render(:partial => 'products', :object => @products) %>");
    <% end %>

    // Update pagination link
    <% if @products.last_page? %>
      $('.pagination').html("That's all!");
    <% else %>
      $('.pagination').html("<%=j link_to_next_page(@products, 'Next Page', :remote => true, :params => params) %>");
    <% end %>

<%else%>
  $('#products').html('<h1 class="text-center products_not_found">No Results Found</h1>');
<%end%>