<!-- ==========================
   PRODUCTS - START 
   =========================== -->
<style type="text/css">
</style>
<br><br><br>
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <div class="row">
            <br>
            <center>
               <h3> WOMEN / SANDALS / DAPHNE</h3>
            </center>
            <div class="col-md-7">
               <div id="example">
                  <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
                     <a href="<%= @product.default_image.path%>">
                     <img src="<%= @product.default_image.path%>" alt="" width="640" height="360" />
                     </a>
                  </div>
                  <ul class="thumbnails">
                     <%@product.attachments.each do |attachment|%>
                        <%unless ["data_sheet"].include?(attachment.role)%>
                        <li>
                           <a href="<%=attachment.path%>" data-standard="<%=attachment.path%>">
                           <img src="<%=attachment.path%>" alt="" />
                           </a>
                        </li>
                        <% end %>
                     <% end %>
                  </ul>
               </div>
               <div class="product-carousel-wrapper">
               </div>
            </div>
            <div class="col-md-5">
               <div class="product-body" style="    margin-top: 2%;">
                  <h2><%= @product.name %></h2>
                  <span class="">
                  <%= number_to_currency @product.price %> 
                  <br>
                  </span>
                  <p style=" margin: 6px 0 0px;"><%= @product.short_description %>
                  </p>
                  <br>
                  <div class="product-form clearfix">
                     <div class="row row-no-padding">
                        <br>
                        <h3>Available Sizes</h3>
                        <% @sizes.each do |s| %>
                        <div style="    border: solid 1px #ddd;
                           width: 30px;
                           text-align: center;
                           margin-right: 2px;     float: left;" ><%=s.name%></div>
                        <% end %>
                        <br>
                        <br>
                        <br>
                        <h3 style="    margin-top: -12px;">Available Colors</h3>
                        <% @variants.each do |v| %>
                          <%= link_to v.name, product_path(v.permalink) , 'data-no-turbolink' => true%>
                        <% end %>
                        <div style="margin-top: 12px;     width: 58%;">
                           <div class="color1"></div>
                           <div class="color2"></div>
                           <div class="color3"></div>
                           <div class="color4"></div>
                           <div class="color5"></div>
                           <div class="color6"></div>
                           <div class="color7"></div>
                        </div>
                        <br> <br> <br>
                        <h3>Quantity</h3>
                        <div class="product-quantity clearfix">
                           <a class="btn btn-default" id="modal-qty-minus">-</a>
                           <input type="text" class="form-control" id="modal-qty" value="1" disabled>
                           <a class="btn btn-default" id="modal-qty-plus">+</a>
                        </div>
                        <div style="clear;both"></div>
                        <br>
                     </div>
                  </div>
                  In Stock. Ships within 1-2  business days.
                  <br>
                  <br>
                  <%= link_to product_path(@product.permalink), :method => :post, :class=> "btn btn-primary add-to-cart", :style=>" color: #ddd; background: #00215F;float: left;" do %>
                  Add to cart
                  <i class="fa fa-shopping-cart"></i>
                  <% end %>
               </div>
            </div>
         </div>
      </article>
   </div>
</section>
<!-- ==========================
   PRODUCTS - END 
   =========================== -->

<%= render "styles_and_accessories" %>

<script>
   // Instantiate EasyZoom instances
   var $easyzoom = $('.easyzoom').easyZoom();
   
   // Setup thumbnails example
   var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');
   
   $('.thumbnails').on('click', 'a', function(e) {
       var $this = $(this);
   
       e.preventDefault();
   
       // Use EasyZoom's `swap` method
       api1.swap($this.data('standard'), $this.attr('href'));
   });
   
   // Setup toggles example
   var api2 = $easyzoom.filter('.easyzoom--with-toggle').data('easyZoom');
   
   $('.toggle').on('click', function() {
       var $this = $(this);
   
       if ($this.data("active") === true) {
           $this.text("Switch on").data("active", false);
           api2.teardown();
       } else {
           $this.text("Switch off").data("active", true);
           api2._init();
       }
   });
</script>
<script type="text/javascript">
   $('.parallax-window').parallax({imageSrc: 'assets/images/footer-img.jpg'});
</script>