- @page_title = t('shoppe.brands.brands')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.brands.new_brand'), :new_brand, class: 'button green'
  %h2.users= t('shoppe.brands.brands')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.brands.name')
        %th= t('shoppe.brands.position')
    %tbody
      - if @brands.empty?
        %tr.empty
          %td{:colspan=>2}= t('shoppe.brands.no_brands')
      - else
        - for brand in @brands
          %tr
            %td=link_to brand.name, [:edit, brand]
            %td= brand.position
= paginate @brands

:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }