- @page_title = t('shoppe.dynamic_options.dynamic_options')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.dynamic_options.new_dynamic_option'), :new_dynamic_option, class: 'button green'
    = link_to t('shoppe.stores.import_dynamic_options'), :import_dynamic_options, :class => 'button gray'
  %h2.users= t('shoppe.dynamic_options.dynamic_options')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.dynamic_options.title')
        %th= t('shoppe.dynamic_options.options_for')
    %tbody
      - if @dynamic_options.empty?
        %tr.empty
          %td{:colspan=>2}= t('shoppe.dynamic_options.no_dynamic_options')
      - else
        - for dynamic_option in @dynamic_options
          %tr
            %td=link_to dynamic_option.title, [:edit, dynamic_option]
            %td= dynamic_option.options_for
= paginate @dynamic_options


:css

  .pagination { border:0px !important;
   padding:0px !important ;
   margin:0px auto !important;
  display:inline-block !important;}  
  .pagination li {
    display:inline-block;
    margin:0px;
    padding:0;
    }
  .pagination li a{
      margin: 2px;
      border: 1px solid #999999;
      color: #999;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
     
      background: transparent;
      display:inline-block;
      padding:5px 10px ;
      text-decoration:none;
      }

  nav {
      margin-top:20px;
      width:100%;
      text-align:center;
  }
  .pagination .active{
  
      
      
  }
  .pagination .active a{
  
     border: 1px solid #9AC835;
      color: #fff;
      background-color:#9AC835;
      
     
      
  }