- @page_title = "#{t('shoppe.variants.variants')} - #{@product.name}"
= content_for :header do
  %p.buttons
    = link_to t('shoppe.variants.back_to_variants'), [@product, :variants], :class => 'button'
  %h2.products= t('shoppe.variants.variants_of', product:@product.name)

= form_for [@product, @variant], :url => @variant.new_record? ? product_variants_path(@product) : product_variant_path(@product, @variant), :html => {:multipart => true} do |f|
  = f.error_messages
  = field_set_tag t('shoppe.variants.product_information') do
    .splitContainer
      %dl.third
        %dt= f.label :name, t('shoppe.variants.color_name')
        %dd= f.text_field :name, :class => 'text focus'
      %dl.third
        %dt= f.label :permalink, t('shoppe.variants.permalink')
        %dd= f.text_field :permalink, :class => 'text'
      %dl.third
        %dt= f.label :sku, t('shoppe.variants.sku')
        %dd= f.text_field :sku, :class => 'text'

    .splitContainer
      %dl.first
        %dt= f.label :color, t('shoppe.variants.color')
        %dd= f.text_field :color, :class => 'text focus jscolor'
  = field_set_tag t('shoppe.variants.product_sizes') do
    %dl
      %dt= f.label :available_sizes, t('shoppe.products.available_sizes')
      %dd= f.collection_select :size_ids, Shoppe::Size.all, :id, :name, {}, {:multiple => true, class: "chosen", :id=>"sizes", :size=>15}


  = field_set_tag t('shoppe.products.attachments') do
    .splitContainer.extraAttachments
      %dl.half
        %dt= f.label "attachments[default_image][file]", t('shoppe.products.default_image')
        %dd
          = attachment_preview @variant.default_image
          %p= f.file_field "attachments[default_image][file]"
          = f.hidden_field "attachments[default_image][role]", value: "default_image"
          = f.hidden_field "attachments[default_image][parent_id]", value: @variant.id

      %dl.half
        %dt= f.label "attachments[default_image][file]", t('shoppe.products.other_images')
        %dd
          = attachment_preview nil, hide_if_blank: false
          %p= f.file_field "attachments[extra][file]", :multiple => true
          = f.hidden_field "attachments[extra][parent_type]", value: "Shoppe::Product"
          = f.hidden_field "attachments[extra][parent_id]", value: @variant.id

      - @variant.attachments.each do |attachment|
        - unless ["default_image", "data_sheet"].include?(attachment.role)
          %dl.half
            %dd
              = attachment_preview attachment

    %p.addAttachments= link_to t('shoppe.products.add_attachments') , '#', :data => {:behavior => 'addAttachmentToExtraAttachments'}, :class => 'button button-mini green'
  - if @product.variant?
    = field_set_tag t("shoppe.variants.pricing") do
      .splitContainer
        %dl.third
          %dt= f.label :price, t('shoppe.variants.price')
          %dd= f.text_field :price, :class => 'text'
        %dl.third
          %dt= f.label :cost_price, t('shoppe.variants.cost_price')
          %dd= f.text_field :cost_price, :class => 'text'
        %dl.third
          %dt= f.label :tax_rate_id, t('shoppe.variants.tax_rate')
          %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => t('shoppe.variants.no_tax')}}

  = field_set_tag t('shoppe.variants.stock_control') do
    .splitContainer
      %dl.half
        / %dt= f.label :weight, t('shoppe.variants.weight')
        %dd= f.hidden_field :weight, :class => 'text', :value=>"0.0"
        

      %dl.half
        %dt= f.label :stock_control, t('shoppe.variants.stock_control')
        %dd.checkbox
          = f.check_box :stock_control
          = f.label :stock_control, t('shoppe.variants.enable_stock_control?')

  = field_set_tag t('shoppe.variants.website_properties') do
    .splitContainer
      %dl.half
        %dt= f.label :active, t('shoppe.variants.on_sale?')
        %dd.checkbox
          = f.check_box :active
          = f.label :active, t('shoppe.variants.on_sale_info')
      %dl.half
        %dt= f.label :default, t('shoppe.variants.default_variant?')
        %dd.checkbox
          = f.check_box :default
          = f.label :default, t('shoppe.variants.default_variant_info')

  %p.submit
    - unless @variant.new_record?
      %span.right= link_to t('shoppe.delete'), product_variant_path(@product, @variant), :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.variants.delete_confirmation')}
    = f.submit t('shoppe.variants.save_variant'), :class => 'button green'
    = link_to t('shoppe.cancel'), :products, :class => 'button'
