- @page_title = t('shoppe.homepage_dynamics.homepage_dynamics')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.homepage_dynamics.new_homepage_dynamic'), :new_homepage_dynamic, class: 'button green'
  %h2.users= t('shoppe.homepage_dynamics.homepage_dynamics')



.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.homepage_dynamics.name')
    %tbody
      - if @homepage_dynamics.empty?
        %tr.empty
          %td= t('shoppe.homepage_dynamics.no_homepage_dynamics')
      - else
        - for homepage_dynamic in @homepage_dynamics
          %tr
            / %td=link_to homepage_dynamic.name, [:edit, homepage_dynamic]
