<!DOCTYPE html>
<html>
  <head>
    <title>Borjan</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="scrolltop" class="hidden-xs "><i class="fa fa-angle-up"></i></div>
    <div id="page-wrapper">
      <%= render "home/header" %>

      <%= yield %>

      <%= render "home/footer" %>
    </div>

  </body>
</html>
