<!DOCTYPE html>
<html>
  <head>
    <title>Borjan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="1344945245522711" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="fb-root"></div>
    <div id="scrolltop" class="hidden-xs "><i class="fa fa-angle-up"></i></div>
    <div id="page-wrapper">
      <%= render "shared/messages" %>
      <%= render "shared/header" %>
      <%= render "popup_partials/login_popup" %>
      <%= render "popup_partials/forgot_password" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>

  </body>
</html>
